{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

{{#preloader}}
<div class="preloader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
{{/preloader}}

    <div id="wrapper" class="  body-{{output.edly_is_siteadmin}}">

        {{{ output.standard_top_of_body_html }}}
        
        {{> theme_boost/navbar }}

        <section class="dashboard_sidebar dn-1199">
            <div class="dashboard_sidebars">
                <div class="user_board">
                    <div class="dashbord_nav_list">
                        {{{ output.user_menu }}}
                    </div>
                    <div class="pl30 pr30">
                        {{{ leftblocks }}}
                    </div>
                </div>
            </div>
        </section>

        <div class="our-dashbord dashbord">
            <div class="page-banner-area">
                <div class="container">
                    <div class="page-banner-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                        <h2>{{{ pageheading }}}</h2>
                        {{output.if_home_pages}}

                        {{{ output.navbar }}}
                    </div>
                </div>

                <div class="page-banner-ellipse">
                    <img src="{{{ config.wwwroot }}}/theme/edly/pix/page-banner/ellipse.png" alt="{{sitename}}">
                </div>

                {{#banner_shape_image}}
                    <div class="page-banner-shape-1">
                        <img src="{{banner_shape_image}}" alt="{{sitename}}">
                    </div>
                {{/banner_shape_image}}
                
                {{#banner_shape_image2}}
                <div class="page-banner-shape-2">
                    <img src="{{banner_shape_image2}}" alt="{{sitename}}">
                </div>
                {{/banner_shape_image2}}

                <div class="page-banner-dot-1">
                    <img src="{{{ config.wwwroot }}}/theme/edly/pix/page-banner/dot1.png" alt="{{sitename}}">
                </div>
                <div class="page-banner-dot-2">
                    <img src="{{{ config.wwwroot }}}/theme/edly/pix/page-banner/dot2.png" alt="{{sitename}}">
                </div>
                <div class="page-banner-dot-3">
                    <img src="{{{ config.wwwroot }}}/theme/edly/pix/page-banner/dot3.png" alt="{{sitename}}">
                </div>
                <div class="page-banner-dot-4">
                    <img src="{{{ config.wwwroot }}}/theme/edly/pix/page-banner/dot4.png" alt="{{sitename}}">
                </div>
            </div>
            
            <div class="dashboard_main_content">
                <div class="container-fluid">
                    <div class="main_content_container">
                        <div class="row">
                            <div class="col-lg-8">
                                {{{ output.full_header }}}

                                {{{ output.region_main_settings_menu }}}
                                {{#has_blocks_above_content}}
                                    {{{ blocks_above_content }}}
                                {{/has_blocks_above_content}}
                                {{{ output.course_content_header }}}
                                {{{ output.main_content }}}
                                {{{ output.activity_navigation }}}
                                {{{ output.course_content_footer }}}
                                {{#has_blocks_below_content}}
                                    {{{ blocks_below_content }}}
                                {{/has_blocks_below_content}}
                            </div>
                            <div class="col-lg-4">
                                {{#hasblocks}}
                                    <div class="edly-sidebar-region" aria-label="{{#str}}blocks{{/str}}">
                                        {{{ sidepreblocks }}}
                                    </div>
                                {{/hasblocks}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> theme_boost/footer }}
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}

</body>
</html>
{{#js}}
  M.util.js_pending('theme_boost/loader');
  require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
  });
  M.util.js_pending('theme_boost/drawer');
  require(['theme_boost/drawer'], function(mod) {
  mod.init();
  M.util.js_complete('theme_boost/drawer');
  });
{{/js}}