:root {
    --fontSize: 17px;
    --font-size: 17px;
    --transition: .6s;
    --main-color: [[setting:brandcolor]];
    --optional-color: [[setting:secondarycolor]];
    --gradient-color: linear-gradient(90deg, [[setting:gradientcolor1]] 0%, [[setting:gradientcolor2]] 100%);
    --footerBG: [[setting:footer_bg]];
    --paragraph-color: #869199;
    --whiteColor: #ffffff;
    --white-color: #ffffff;
    --black-color: #3B2A56;
    --font-family: 'Nunito', sans-serif;
    --HeadingColor: #0d0c0c;
}
body {
    padding: 0;
    margin: 0;
    font: {
        size: var(--font-size) !important;
        family: var(--font-family) !important;
    };
}

.dir-rtl .single-funfacts-card .content h3 {
    direction: ltr;
}